.glavnaya {
    background: url(../IMG/main.jpg) center top / cover;
    background-repeat: no-repeat;
    height: 100vh;

    
}    

.glavnaya h1 {
    font-size: 50px;
    color: white;
    
}

.glavnaya p {
    font-size: 30px;
    color: white;
}

.news {
    
    
    background: url(../IMG/news.png) center top / cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.news h2 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: rgba(226, 226, 226, 0.5);
}

.news p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(226, 226, 226, 0.5);
}

.onas {
    background: url(../IMG/onas.png) center top / cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.onas h2 {
    font-size: 40px;
    color: rgb(51, 255, 95);
    background-color: rgba(14, 14, 14, 0.5);
}

.onas p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(226, 226, 226, 0.5);
}

.onas ul {
    font-size: 20px;
    color: rgb(51, 255, 95);
    background-color: rgba(14, 14, 14, 0.5);
}

.onas li {
    list-style-type: none;
}

.project {
    background: rgb(52,161,140);
    background: linear-gradient(108deg, rgba(52,161,140,1) 13%, rgba(53,191,87,1) 60%, rgba(41,236,61,1) 100%); 
}

.project h2 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: rgba(226, 226, 226, 0.5);
}

.project p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(226, 226, 226, 0.5);
}

.project ul{
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}

.project li {
    list-style-type: none;
    
}

.map {
    background: linear-gradient(108deg, rgba(52,161,140,1) 13%, rgba(53,191,87,1) 60%, rgba(41,236,61,1) 100%); 
}

.map h2 {
    color: rgb(0, 0, 0);
    background-color: rgba(226, 226, 226, 0.5);
}